html{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;

}

h1, h2 {
    text-align: center;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.products img {
    height: 100px;
    width: 100px;
}

.name {
    font-size: 14pt;
    position: relative;
    top: 8px;
}

.price {
    font-weight: bold;
    position: relative;
    top: -8px;
}
